# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Dataset
dataset/

# Model weights
*.pth
*.pt

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/


# Node
node_modules/
.env/